:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #457f80;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* Hero Section */
.hero-section {
  height: 100vh;
}
.hero-left-section {
}
.hero-right-section {
  height: 80vh;
}
h1 {
  font-size: 4em !important;
  color: var(--primary-color) !important;
}
.hero-img {
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.3));
}
.glass-bg {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-outline-secondary {
  --bs-btn-color: #457f80 !important;
  --bs-btn-border-color: #457f80 !important;
  --bs-btn-hover-bg: #457f80 !important;
  --bs-btn-hover-border-color: #457f80 !important;
  --bs-btn-active-bg: #457f80 !important;
  --bs-btn-active-border-color: #457f80 !important;
  --bs-btn-disabled-color: #457f80 !important;
  --bs-btn-disabled-border-color: #457f80 !important;
}
/* Buttons Box */
.btns-box button {
  margin: 5px;
}
/* Carousel */
.carousel-caption {
  position: unset !important;
}
.carousel-caption img {
  border-radius: 10px;
}
.website-img {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
body {
  background: rgb(214, 205, 198);
  background: linear-gradient(
    180deg,
    rgba(214, 205, 198, 1) 32%,
    rgba(215, 210, 200, 1) 45%,
    rgba(227, 223, 214, 1) 59%,
    rgba(234, 240, 232, 1) 70%
  );
  background-repeat: no-repeat;
}
/* Responsive */
@media screen and (max-width: 1400px) {
  h1 {
    font-size: 3em !important;
  }
  .hero-img {
    width: 250px;
  }
}
@media screen and (max-width: 1000px) {
  .website-img {
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .hero-section {
    height: auto;
  }
  .pt-5 {
    padding-top: 0rem !important;
  }
  h1 {
    font-size: 3em !important;
  }
  .hero-left-section {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .hero-right-section {
    margin-bottom: 50px;
  }
  .website-img {
    width: 80%;
    height: 80%;
  }
}

/* offCanvas model */
@media (max-width: 767.98px) {
  .offcanvas-md {
    --bs-offcanvas-transition: transform 1s ease-in-out !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    height: 50px !important;
  }
  .navbar-brand img {
    width: 120px;
    height: 50px;
    margin-top: -1em;
    margin-left: -2em;
  }
  .hero-left-section {
    height: auto;
    align-items: flex-start;
  }
  .hero-right-section {
    height: 41rem;
    padding-bottom: 2.5rem;
    margin-bottom: 1rem !important;
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  h1 {
    font-size: 2.5em !important;
  }
  .hero-img {
    width: 250px;
  }
  .btns-box {
    width: 95vw;
  }
  .btns-box button {
    font-size: 0.8em;
  }

  /* Carousel */
  .website-img {
    width: 90%;
    height: 15rem;
  }
  .carousel-control-prev {
    left: -1.2rem !important;
  }
  .carousel-control-next {
    right: -1.2rem !important;
  }
  .carousel-indicators {
    bottom: -2em !important;
    margin-bottom: 0.2rem !important;
  }
  .carousel-item p {
    height: 15rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}
